/* .parent-container {
  margin: auto;
  width: 50%;
  position: relative;
} */

.form_label {
  display: block;
}
#message {
  display: block;
}

/* h5 {
  text-align: center;
}
h4 {
  text-align: center;
} */
#input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#message {
  width: 100%;
  height: 120px;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#submit {
  width: 100%;
  padding: 8px 15px;
  background-color: #ad1b02;
  text-align: center;
  border: 1px solid #ad1b02;
  border-radius: 8px;
  color: white;

  margin-top: 20px;
}

.contact-hero-section {
  text-align: center;
  background: url(../../assets/img/contact-us5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.contact-hero-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 150px;
}
.contact-hero-content h1 {
  font-weight: 900;
}

.contact-cards-container {
  display: flex;
  padding: 60px;
}
.contact-cards {
  display: flex;
  justify-content: center;
}
.contact-card-title {
  font-weight: 900 !important;
  font-size: 20px !important;
  line-height: 100% !important;
  color: rgb(26, 12, 47) !important;
  margin-bottom: 16px !important;
  margin-top: 24px !important;
  text-align: left;
}
.contact-card-copy {
  font-size: 14px;
}
.contact-card-link {
  color: #e1301e;
}
.contact-content-section {
  background: #ad1b020d;
}
.single-cards {
  border: 1px solid #ad1b020d !important;
  border-radius: 20px !important;
}
.contact-form-container {
  margin: 60px;
  padding-bottom: 60px;
  display: flex;
}
.contact-form-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.contact-form {
  background: #eee;
  /* margin: 42px; */
  padding: 20px 60px;
  border-radius: 10px;
}
.contact-divider {
  width: 90%;
  border: 1px solid #e1301e;
  background-color: #e1301e;
  margin: 40px 70px;
}
.response-container {
  background: rgb(173 27 2 / 5%);
  padding: 100px;
}
.response-card {
  background: #ad1b02;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 150px;
}
/* media queries */

@media screen and (max-width: 480px) {
  .contact-hero-content {
    padding: 60px;
  }
  .contact-cards {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .contact-cards-container {
    flex-direction: column;
  }
}
