.recent-spaces-container {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.recent-spaces-content {
    padding: 20px 0;
}

.recent-spaces-card {
    border: 1px solid #777;
    border-radius: 8px;
}

.recent-spaces-content-wrapper {
    padding: 20px;
}

.mybtn {
    padding: 8px 15px;
    border-radius: 8px;
    color: #fff;
    background: #d85604;
    border: 1px solid #d85604;;
}

.recent-spaces-icon {
    margin-left: 20px;

}

.recent-spaces-icon-container {
    padding-bottom: 20px;
}

.recent-spaces-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.recent-spaces-button {
    padding: 10px 15px;
    background: #d85604;
    color: #fff;
    /* border-color: maroon; */
    border: 1px solid #d85604;
    border-radius: 6px;
}

.recent-spaces {
    border-radius: 8px;
    border: 2px solid #cecece;
}

.recent-spaces-image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

@media screen and (max-width: 768px) {
    .recent-spaces-container {
        display: block;
        margin: auto;
    }

    .recent-spaces-container div {
        max-width: 350px;
        width: 100%;
    }

    .recent-spaces-button-container button {
        display: inline-block;
        width: 100%;
    }

}