.user-profile {
  background-color: #252a3d;
  padding: 20px;
  border-radius: 50%;
  /* text-align: center; */
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.merchant-container {
  flex: 1;
  padding: 3vw;
  margin: auto;
  width: 100%;
}
.header-section {
  display: flex;
  justify-content: space-between;
  margin: 30px 40px;
  align-items: center;
}
.search-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5vw;
}
.wallet-container {
  cursor: pointer;
}
.search-form {
  width: 320px;
  margin-right: 15px;
}
.form-control {
  background-color: #d9d9d9;
  color: #000;
  border: 1px solid #d9d9d9;
}
.input-group-text {
  background-color: #d9d9d9;
}

/* dashoard - content */
.total-income {
  /* width: 15vw; */
  border-radius: 6px;
  border: 1px solid #ebedf2;
  padding: 8px 16px;
  margin-top: 10px;
  align-items: center;
  gap: 10px;
}
.total-income h3 {
  font-weight: 900;
  color: #07163e;
}
.analytics {
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}
.stats {
  flex: 0.7;
}
.all-transactions {
  background-color: #fff;
  border: 1px solid #ebedf2;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  margin-left: 20px;
  padding: 20px;
  flex: 1;
}

/* Table content */

.merchant-table-container {
  margin: 20px 0;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 12px;
  max-width: 60%;
}

.table > :not(caption) > * > * {
  padding: 30px 0;
}

.booking-status {
  background-color: #d9d9d9 !important;
  /* margin: 0 20px; */
  width: auto;
}
.booking-status > p {
  margin: 0;
  padding: 5px;
}

.amount-text {
  text-align: right;
}

/* reviews */
.recent-reviews {
  background-color: #fff;
  border: 1px solid #ebedf2;
  border-radius: 12px;
  /* max-width: 40%; */
  margin-left: 20px;
  padding: 20px;
}

.recent-reviews > h6,
h5 {
  text-align: left;
  margin: 0;
}
