* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.wrapper {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  background: #d9d9d9;
  box-shadow: 9px 4px 37px rgba(48, 47, 66, 0.04);
  color: #000;
  height: auto;
  width: 320px;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: #fff;
  padding: 15px 15px;
  text-decoration: none;
  gap: 25px;
  transition: all 0.5s;
}
.link:hover {
  color: #ad1b02 !important;
}
.active {
  color: #1d4dca;
}
.icon,
.link_text {
  font-size: 20px;
  font-weight: 500;
}
@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}
