.login-container {
  display: flex;
}
.bold-title {
  color: #d85604;
  font-weight: 600;
}

.form-container {
  padding: 60px 100px;
  background: #fbf3f2;
}
.login-button {
  background: #d85604;
  width: 100%;
  border: 1px solid #d85604;
  padding: 8px 15px;
  color: #fff;
  border-radius: 6px;
}
