header {
  background-color: #fff;
  /* height: 12vh; */
  box-shadow: 0 5px 30px rgb(0 22 84 / 5%);
  padding: 15px 0;
  /* position: sticky; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

header img {
  width: 170px;
}

header ul li {
  align-items: center;
}

header ul a {
  margin-top: 20px;
}

header a {
  display: inline-block;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--nav-link) !important;
  text-transform: capitalize;
  transition: 0.5s;
}

header a:hover {
  color: var(--spacehub-bg) !important;
}

header button {
  font-weight: 500 !important;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

header .btn-menu {
  border: none;
  font-weight: 600;
  font-size: 1.4rem;
}

header .toggle {
  display: none;
}

.acct-div {
  display: flex;
}

header .mobile-div {
  display: none;
}

header .acct-div-mobile {
  display: none;
}

header .btn {
  border: none !important;
  outline: none !important;
}

header .btn:hover {
  border: none !important;
  outline: none !important;
}

.mybtn#loginbtn {
  background: #d85604 !important;
  color: #fff;
}

.mybtn#signupbtn {
  background: transparent !important;
  color: #d85604 !important;
  border: 1px solid #d85604 !important;
}

.mybtn#loginbtn:hover {
  outline: none !important;
  background: transparent !important;
  color: #d85604 !important;
  border: 1px solid #d85604 !important;
}

.mybtn#signupbtn:hover {
  background: #d85604 !important;
  color: #fff !important;
}


/* Responsive Design */
@media screen and (max-width: 992px) {

  header {
    padding: 0;
  }

  header img {
    margin: 10px 0px 20px 0px;
  }

  header .acct-div {
    display: none;
  }

  header .nav .flex {
    display: none;
  }


  header .toggle {
    display: block;
    margin: 15px 0px;
    margin-top: 30px;
  }

  header .small {
    position: absolute;
    top: 13vh;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    z-index: 2;
  }

  header li {
    border-bottom: 1px solid #ddd;
  }

  header li a {
    display: inline-block;
    margin-bottom: 20px;
    color: #152c5b !important;
  }

  header .acct-div-mobile {
    display: block;
  }

  .acct-div-mobile a {
    margin: auto;
    width: 100%;
  }

  .acct-div-mobile button {
    width: 100%;
    background-color: var(--spacehub-bg);
    padding: 20px;
  }


  header .mobile-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
  }

  header li a {
    display: inline-block;
    margin-bottom: 20px;
  }
}