.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Poppins");
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* display: flex; */
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #fff;
}

/* #root {
  display: flex;
} */

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none !important;
}

/* Buttons */
.btn {
  border-radius: 4px;
}

.btn-small {
  padding: 5px 10px;
  /*height: 30px;*/
  font-size: 12px;
}

.btn-outline {
  font-size: 12px;
  /* padding-left: 5px; */
  padding: 4px;
  background: #fff;
  border-radius: 4px;
  border-color: #850901;
  color: #850901;
}

.btn-fill {
  font-size: 12px;
  padding: 4px;
  background: #850901;
  border-radius: 4px;
  border-color: #850901;
  color: #fff;
}

textarea,
input {
  border: none;
  outline: none;
  background-color: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
