/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Variables */
:root {
  /* Font Sizes & Family */
  /* if we set html's font size 62.5% then 1rem = 10px */

  --body-font: 'Poppins', sans-serif;

  --big-font: 4rem;
  --h1-font: 3.6rem;
  --h2-font: 2.4rem;
  --h3-font: 2rem;
  --h4-font: 1.8rem;
  --normal-font: 1.6rem;
  --small-font: 1.4rem;
  --smaller-font: 1.3rem;

  /* Font Weight ***/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Color Variables */
  --primary-color: #E6DAD9;
  --btn-color-hover: #006ecc;
  --primary-color-hover: #C2703D;
  --text-color: #152C5B;
  --text-color-light: #888682;
  --border-color: #484848;
  --white-color: #FFF;
  --section-bg: #2C3034;
  --damier-bg: #850901;
  --damier-light-bugundy: #E6DAD9;
  --damier-dark: #444;
  --damier-grey: #f1f1f1;
  --nav-link: rgba(13, 45, 61, .7);

  /* z-index */
  --z-overlay: 10;
  --z-fixed: 100;

  /* transition */
  --tran-0-2: 0.2s;
  --tran-0-3: 0.3s;
  --tran-0-5: 0.5s;
}

/*Font sizes For Small Screen 968px */
@media screen and (max-width: 990px) {
  :root {
    --big-font: 3.5rem;
    --h1-font: 2.4rem;
    --h2-font: 2rem;
    --h3-font: 1.8rem;
    --h4-font: 1.6rem;
    --normal-font: 1.5rem;
    --small-font: 1.3rem;
    --smaller-font: 1.2rem;
  }
}


/* Pre-CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--font-regular);
  color: var(--text-color);
}

body {
  overflow-x: hidden;
  background-color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}

/* ----- Variables --------*/


/* ------------------ CSS Reset ------------------ */


/* --------- Global Styles  --------- */

.flex {
  display: flex;
  align-items: center;
}


a {
  text-decoration: none !important;
  color: var(--damier-dark) !important;
}

ul {
  padding-left: 0px;
  list-style-type: none;
}

img {
  width: 100%;
}

button {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 8px 20px;
  font-size: 14px;
  background-color: var(--damier-bg);
  color: #fff;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button i {
  margin-right: 5px;
}

.btn-small {
  padding: 5px 10px;
  height: 30px;
  font-size: 12px;
}

.btn-outline {
  float: right;
  font-size: 12px;
  padding-left: 5px;
  padding: 4px;
  background: #fff;
  border-radius: 4px;
  border-color: var(--damier-bg);
  color: var(--text-color);
}

.btn-fill {
  float: left;
  font-size: 12px;
  padding: 4px;
  background: var(--damier-bg);
  border-radius: 4px;
  border-color: var(--damier-bg);
  color: #fff;
}

.damier-color {
  color: var(--text-color) !important;
}

.damier-light-bugundy {
  background-color: var(--damier-light-bugundy) !important;
}

.damier-dark {
  color: var(--damier-dark) !important;
}

.damier-grey {
  background-color: var(--damier-grey) !important;
}

.damier-bg {
  background-color: #850901 !important;
}

/* ------ End Global Styles --------- */