.user-profile {
  background-color: #252a3d;
  padding: 20px;
  border-radius: 50%;
  /* text-align: center; */
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.header-section {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  align-items: center;
}
.search-container {
  display: flex;

  align-items: center;
}

.search-form {
  width: 320px;
  margin-right: 15px;
}
.form-control {
  background-color: #d9d9d9;
  color: #000;
  border: 1px solid #d9d9d9;
}
.input-group-text {
  background-color: #d9d9d9;
}
.dashboard-content {
  padding-top: 60px;
}
.card-section {
  width: 11rem;
  margin: 15px;
  border: none;
}
.main {
  width: 100%;
  padding: 20px;
}
.spacing {
  margin-right: 10px;
}
.size {
  font-size: 18px;
}
.price-size {
  font-size: 16px;
}
.load-more {
  text-decoration: none;
  text-align: right;
  color: #ad1b02;
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  margin-top: 40px;
}

.text-blue {
  color: #252a3d;
}

.table-container {
  margin: 20px;
  padding: 30px 0;
}

.table > :not(caption) > * > * {
  padding: 20px 0;
}

.reviews-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reviews {
  font-size: 14px;
  padding: 0 15px;
}
